.bt-main {
  text-align: center;
  z-index: 20;
  top: 364px;
}

.backFlot {
  background-color: #fff4d8;
}


.ht {
  height: 196vh !important;
  padding-top: 15rem;
}

.butt {
  top: 73rem;
}


@media only screen and (min-width: 768px) {
 
  .ht {
    height: 123vh !important;
  }
}
