:root {
  --main-color: #f9692b;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-back {
  background-color: var(--main-color);
}

.text-color2 {
  color: #707070;
}

/*    navbaar  */

.logo-onMd {
  bottom: 10px;
  width: 195px;
  position: absolute;
  left: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px; /* Start off-screen on the right */
  width: 300px;
  height: 100%;
  transition: right 0.3s ease;
}

.sidebar.open {
  right: 0; /* Bring on-screen from the right */
}

.toggle-button {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  justify-content: center;
  text-align: center;
  z-index: 7; /* Ensure button is above sidebar */
}

.toggle-button svg {
  position: absolute;
  z-index: 0;
  color: var(--main-color);
}

@media (max-width: 795px) {
  .hard {
    display: none;
  }
}

.border-yel {
  border-color: #f4ce3f;
}

a span {
  display: flex;
  align-items: center;
  text-align: center;
}

/*    navbaar  */

/* Home section */

#Home {
  height: calc(100vh - 162px);
}

@media screen and (min-width: 2px) and (max-width: 768px) {
  #Home {
    height: calc(100vh - 40px);
  }
}

#Home h1 {
  color: var(--main-color);
  font-size: bold;
}

@media screen and (min-width: 230px) and (max-width: 360px) {
  .in-home {
    padding-top: 63px;
    padding-right: 4px;
  }
}

/* icons */
.lamp-icon {
  bottom: 24%;
  left: 50%;
  width: 9%;
  z-index: 2;
}

.post1 {
  bottom: 1px;
  z-index: 1;
}

.sett {
  width: 4%;
  z-index: 2;
  left: 10%;
  bottom: 4%;
}

/* hhhhhh */
.radd-icon {
  bottom: 5%;
  width: 5%;
  left: 15%;
  z-index: 2;
}

/* icons */

.post2 {
  bottom: 91px;
  z-index: 0;
}
